<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperAdmin</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div class="container mx-auto mt-10 p-10">
    <h2 class="text-2xl font-bold text-red-500">Super Admin Login</h2>
    <form action="/login-superadmin" method="POST" class="mt-4">
        <input type="email" name="email" class="border border-gray-300 rounded-lg p-2 w-60 mb-4" placeholder="Email" required>
        <input type="password" name="password" class="border border-gray-300 rounded-lg p-2 w-60 mb-4" placeholder="Password" required><br>
        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-lg w-50">Login</button>
    </form>
</div>
</body>
</html>

